<%= render "shared/header" %>

<div class='manu-main'>
  <div class='calender-manu'>
  </div>  

   
  <div class='calender-text'>
    献立カレンダー
  </div>
  
  <div class='calender'> 
   <%= month_calendar events: @menus do |date,all| %>
     <%= link_to new_menu_for_date_path(date), class: 'crender-date-menu' do %>
   <%= date.day %>
   <%= all.each do |menu| %>
  <%end%> 
<% end %>
<% end %>



<%= render  "shared/footer" %>