<div class='recipe-new'>
  <div class='recipe-contents'>
    <div class='recipe-new-title'>
      レシピを編集
    </div>   
    <%= form_with model: @recipe, url: recipes_path, local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class='new-items'>
    <%# 料理画像 %>
      <div class='new-item'>
        <div class="recipe-new-text">料理画像 </div>
          <%= f.file_field :image, id: "item-image" %>
      </div>  

    <%# 料理名 %>
      <div class='new-item'>
        <div class="recipe-new-text">料理名</div>
          <%= f.text_field :title, class:'title-input'%>
      </div>

    <%# 料理カテゴリー %>
      <div class='new-item'>
        <div class="recipe-new-text">分類</div>
          <%= f.collection_select :category_id, Category.all, :id, :name %>
      </div>
      
    <%# 食材 %>
     <div class="new-item">
       <div class="recipe-new-text">食材</div>
       <div class='new-group'> 
       <%= f.text_field :ingredients, class: "ingredients-input" %>
       <div class='recipe-new-text'>分量</div>
       <%= f.text_field :quantity, class: "quantity-input" %>
       </div> 
     </div>  

   <%# 調味料 %>
     <div class="new-item">
        <div class='recipe-new-text'>調味量 </div>
        <div class='new-group'>
          <%= f.text_field :seasonings, class: "seasonings-input" %>
        <div class='recipe-new-text'>分量</div>
          <%= f.text_field :quantity, class: "quantity-input" %>
       </div> 
     </div>  
   
   <%# 作り方 %>
     <div class="new-item">
       <div class="recipe-new-text" >作り方</div>
         <%= f.text_field :steps, class: "steps-input" %>
     </div>  

  <%# 作成ボタン %>
    <div class="actions">
      <%= f.submit "変更する" ,id:"submit-button", class:"recipe-button" %>
      <%= link_to "戻る", recipes_path, class:'back-btn' %> 
    </div>
    <% end %>
    </div>
  </div>
</div>
 