<div class='recipe-new'>
  <div class='recipe-contents'>
    <div class='recipe-new-title'>
      レシピ作成
    </div>   
    <%= form_with model: @recipe, url: recipes_path, local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class='new-items'>
    <%# 料理画像 %>
      <div class='new-item'>
        <div class="recipe-new-text">料理画像 </div>
          <%= f.file_field :image, id: "item-image" %>
      </div>  

    <%# 料理名 %>
      <div class='new-item'>
        <div class="recipe-new-text">料理名</div>
          <%= f.text_field :title, class:'title-input'%>
      </div>

    <%# 料理カテゴリー %>
      <div class='new-item'>
        <div class="recipe-new-text">分類</div>
          <%= f.collection_select :category_id, Category.all, :id, :name %>
      </div>
      
    <%# 食材 %>
     <div class="new-item">
       <div class="recipe-new-text">食材</div>
       <div class='new-group'> 
         <%= f.text_field :recipe_ingredients_id,  class: 'ingredients-input' %>
         <%= link_to_remove_association "削除", f %>
       <div class='recipe-new-text'>分量</div>
       <%= f.text_field :quantity, class: "quantity-input" %>
       <%= link_to_remove_association "削除", f %>
       </div> 
     </div>  

   <%# 調味料 %>
      <div class="new-item">
        <div class='recipe-new-text'>調味量 </div>
        <div class='new-group'>
          <%= f.text_field :recipe_seasonings_id, class: "seasonings-input" %>
            <%= link_to_remove_association "削除", f %>
        <div class='recipe-new-text'>分量</div>
          <%= f.text_field :quantity, class: "quantity-input" %>
            <%= link_to_remove_association "削除", f %>
       </div> 
     </div>  
   
   <%# 作り方 %>
     <div class="new-item">
       <div class="recipe-new-text" >作り方</div>
         <%= f.text_field :recipe_steps ,  class: "steps-input" %>
           <%= render "recipes/recipe_step_fields", f: f %>
         <%= link_to_add_association "追加", f , :recipe_steps %>
     </div>  

  <%# 作成ボタン %>
    <div class="actions">
      <%= f.submit "作成する" ,id:"submit-button", class:"recipe-button" %>
      <%= link_to "戻る", recipes_path, class:'back-btn' %> 
    </div>
    <% end %>
    </div>
  </div>
</div>
 