<div class='recipe-new'>
  <div class='recipe-contents'>
    <div class='recipe-new-title'>
      レシピ作成
    </div>   
    <%= form_with model: @recipe, url: recipes_path, local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class='new-items'>
    <%# 料理画像 %>
      <div class='new-item'>
        <div class="recipe-new-text">料理画像 </div>
        <%= f.file_field :image, id: "item-image" %>
      </div>  

    <%# 料理名 %>
      <div class='new-item'>
        <div class="recipe-new-text">料理名</div>
        <%= f.text_field :title, class:'title-input'%>
      </div>

    <%# 料理カテゴリー %>
      <div class='new-item'>
        <div class="recipe-new-text">分類</div>
        <%= f.collection_select :category_id, Category.all, :id, :name %>
      </div>
      
    <%# 食材 %>
      <div class="new-item">
        <div class='recipe-text-box'>
          <div class="recipe-new-text">食材</div>
          <div class='new-add-btn'>
          <%= link_to_add_association "追加する", f, :recipe_ingredients,
          class: 'ingredient-fields',
          id: 'ingredient-btn',
          data:{
          association_insertion_node: '#new-ingredient-field',
          association_insertion_method: 'after'
          }
          %>  
         </div>
       </div>
       <%= f.fields_for :recipe_ingredients do |form| %>
         <%= render "recipes/recipe_ingredient_fields", f: f %>
       <% end %>
         <div id="new-ingredient-field"></div>
      </div>

    <%# 調味料 %>
      <div class="new-item">
        <div class='recipe-text-box'>
          <div class='recipe-new-text'>調味量 </div>
          <div class='new-add-btn'>
          <%= link_to_add_association "追加する", f, :recipe_seasonings ,
          class: 'seasonings-fields',
          id: 'seasonings-btn',
          data:{
          association_insertion_node: '#new-seasoning-field',
          association_insertion_method: 'after'
          }
          %>  
          </div>
        </div>
        <%= f.fields_for :recipe_seasonings do |form| %>
          <%= render "recipes/recipe_seasoning_fields", f: f %>
        <% end %>
        <div id="new-seasoning-field"></div>
      </div>
         
     
    <%# 作り方 %>
      <div class="new-item">
        <div class='recipe-text-box'>
          <div class="recipe-new-text" >作り方</div>
          <div class='new-add-btn'>
          <%= link_to_add_association "追加する", f, :recipe_steps,
          class: 'steps-fields',
          id: 'step-btn',
          data:{
          association_insertion_node: '#nwe-step-fild',
          association_insertion_method: 'after'
          }
          %>  
         </div>
       </div> 
       <%= f.fields_for :recipe_steps do |form| %>
         <%= render "recipes/recipe_step_fields", f: f %>
        <% end %>
        <div id="nwe-step-fild"></div>
      </div>

    
  <%# 作成ボタン %>
    <div class="actions">
      <%= f.submit "作成する" ,id:"submit-button", class:"new-btn" %>
      <%= link_to "戻る", recipes_path, class:'new-btn' %> 
    </div>
    <% end %>
    </div>
  </div>
</div>


 